
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body{
  margin: 0 !important;
  counter-reset: countrating -1;
}

/**********************
*
*
        VARIABLES
* 
*
**********************/
/* (gestion multimarque via sass)  */

/* MARQUE : 66 NORD  */

$color-star-full: #FFED85;
$color-star-hover: #f6c82c;
$color-background-yellow : #f6c82c;
$color-background-blue : #0fa1b8;
$color-box-title-parent : #01a2b4;
$color-menu-active : #04707c;
$color-number-step-menu : #b8dde3;
$color-note-0to10-orange : #ff9219;
$color-note-0to10-vert : #009446;



/**********************
*
*
  PROTO RATING STAR
*
*
**********************/

fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }


.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 2.8em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
.rating > label.starFull:before { 
  content: "\f005";
}


.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating > input:checked ~ label, /* affiche letoile d or quand clicker */
.rating:not(:checked) > label:hover, /* hover la current etoile */
.rating:not(:checked) > label:hover ~ label { color: $color-star-hover;  } /* hover letoile precedente*/

.rating > input:checked + label:hover, /* hover la current etoile quand le rating change */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* light la selection courrante */
.rating > input:checked ~ label:hover ~ label { color: $color-star-full;  } 

#messageSF > span:not(.first-sf){
    font-size: 1.15em;
    font-weight: 700;
    color: white;
    float: left;
    display: none;
    width: 234px;
    text-align: center;
    height: 28px;
    margin-top: 12px;
    margin-left: 22px;
    padding-top: 2.5px;
}

.first-sf{
  font-size: 1.0em;
  padding-top: 1.4px;
  font-weight: 700;
  color: white;
  float: left;
  width: 234px;
  text-align: center;
  height: 28px;
  margin-top: 12px;
  margin-left: 22px;
  padding-top: 3.5px;
}


.active{
  display:block !important;
}




/**********************
*
*
  CUSTOM CSS main file
*
*
**********************/

#btn-suivant, #btn-valider{
	margin: auto;	    
  margin-bottom: 50px;
  font-size: 15px;}

.box-form-inactive{
	display:none;
}

.box-form-active{
	display:block;
}

.btn-active{
	display:block;
}

.btn-inactive{
	display:none;
}

.box-rating > .rating > label{
	font-size: 11.2px;
}

.box-rating{
	width: 483px;
  min-width: 460px;
}

.question-text{
    width: 100%;
    height: 85px;	
}

.span-qcm{
  width: 50%;
}

#messageSF span{
  text-transform: uppercase;
}

.box-rating{
  display: flex;
}

.no-padding-margin{
  padding: 0 !important;
  margin: 0 !important;
}

.no-padding{
  padding: 0 !important;
}

.no-margin{
  margin: 0 !important;
}

.box-global{
  margin-top:10px;
}

.box-qcm{
  padding-left: 8%;
  margin-bottom: 25px;
}

.input-qcm{

  >input{
    margin-right: 5px;
  }
}

.box-0to10{
  margin-top: 20px;
  margin-bottom: 20px;
  >div{
    display: inline-flex;

    >div{
      text-align: center;
      height: 40px;

      &:nth-child(-n+7){
        background-color: $color-note-0to10-orange;
      }

      &:nth-child(+n+8){
        background-color: $color-background-yellow;
      }

      &:nth-child(+n+10){
        background-color: $color-note-0to10-vert;
      }

      >input{
        margin-top: 13px; 
      }
    }

    >div:first-child{
      margin-left: 5%;
    }
  }
}

.box-yesno{
  >div{
    display: flex;  

    >li{
      list-style-type: none;
      padding: 7px;
    }
  }
}

.content-0t10 {
  counter-increment: countrating;
}

.content-0t10:before {
  content: counter(countrating);
  position: absolute;
  margin-top: -23px;
}

/** Pour arrêter le compteur, optionel **/
.content-0t10:nth-child(1n+12):before {
  display: none;
}



#menu-step{
  opacity: 0.94;
  margin-top: 10px;
  text-align: center;
  color: white;

  li{
    vertical-align: top;
    padding: 15px 0 20px 0;
    height: 91px;  
    display: inline-block;
    margin-right: 22px;
    width: calc(33% - 14px);
    font-size: 20px;

    span{
      display: inline-block;
      width: 125px;

      &:before{    
        position: absolute;
        font-size: 70px;
        left: 12%;
        font-weight:800;    
        margin-top: -26px;
      }

    }

    &:after{  
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 0px;
      height: 0px;  
    }

    &:before{    
      content: "" !important;
    } 

    &:first-child{
      span:before {  
        content: "1";
        left: 15%;
      }
    }

    &:nth-child(2){
      span:before {  
        content: "2";
        left: 13%;
      }
    }

    &:nth-child(3){
      span:before {  
        content: "3";
        left: 15%;
      }
    }

    &:last-child{
      margin-right: 0 !important;
    }
  }
}



