
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body{
  margin: 0 !important;
}

/**********************
*
*
        VARIABLES
* 
*
**********************/
/* (gestion multimarque via sass)  */

/* MARQUE : 66 NORD  */

$color-star-full: #FFED85;
$color-star-hover: #f6c82c;
$color-background-yellow : #f6c82c;
$color-background-blue : #0fa1b8;
$color-box-title-parent : #01a2b4;
$color-menu-active : #04707c;
$color-number-step-menu : #b8dde3;
$color-note-0to10-orange : #ff9219;
$color-note-0to10-vert : #009446;



/**********************
*
*
  PROTO RATING STAR
*
*
**********************/

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }


.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 2.8em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
.rating > label.starFull:before { 
  content: "\f005";
}


.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating > input:checked ~ label, /* affiche letoile d or quand clicker */
.rating:not(:checked) > label:hover, /* hover la current etoile */
.rating:not(:checked) > label:hover ~ label { color: $color-star-hover;  } /* hover letoile precedente*/

.rating > input:checked + label:hover, /* hover la current etoile quand le rating change */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* light la selection courrante */
.rating > input:checked ~ label:hover ~ label { color: $color-star-full;  } 

#messageSF > span:not(.first-sf){
    font-size: 1.15em;
    font-weight: 700;
    color: white;
    float: left;
    display: none;
    width: 234px;
    text-align: center;
    height: 28px;
    background-color: #f6c82c;
    margin-top: 12px;
    margin-left: 22px;
    padding-top: 2.5px;
}

.first-sf{
  background-color: $color-background-blue !important;
  font-size: 1.0em;
  padding-top: 1.4px;
  font-weight: 700;
  color: white;
  float: left;
  width: 234px;
  text-align: center;
  height: 28px;
  margin-top: 12px;
  margin-left: 22px;
  padding-top: 3.5px;
}


.active{
  display:block !important;
}




/**********************
*
*
  CUSTOM CSS main file
*
*
**********************/

#btn-suivant, #btn-valider{
	margin: auto;	    
  margin-bottom: 50px;
  font-size: 15px;
  background-color: $color-background-blue; 
  border-color: $color-background-blue;
}

.box-form-inactive{
	display:none;
}

.box-form-active{
	display:block;
}

.btn-active{
	display:block;
}

.btn-inactive{
	display:none;
}

.box-rating > .rating > label{
	font-size: 11.2px;
}

.box-rating{
	width: 483px;
  min-width: 460px;
}

.question-text{
    width: 100%;
    height: 85px;	
}

.span-qcm{
  width: 50%;
}

#messageSF span{
  text-transform: uppercase;
}

.box-rating{
  display: flex;
}

.no-padding-margin{
  padding: 0 !important;
  margin: 0 !important;
}

.no-padding{
  padding: 0 !important;
}

.no-margin{
  margin: 0 !important;
}

.box-global{
  margin-top:10px;
}

.box-qcm{
  padding-left: 8%;
  margin-bottom: 25px;
}

.input-qcm{

  >input{
    margin-right: 5px;
  }
}

.box-0to10{
  margin-top: 20px;
  margin-bottom: 20px;
  >div{
    display: inline-flex;

    >div{
      text-align: center;
      height: 40px;

      &:nth-child(-n+7){
        background-color: $color-note-0to10-orange;
      }

      &:nth-child(+n+8){
        background-color: $color-background-yellow;
      }

      &:nth-child(+n+10){
        background-color: $color-note-0to10-vert;
      }

      >input{
        margin-top: 13px; 
      }
    }

    >div:first-child{
      margin-left: 5%;
    }
  }
}

.box-yesno{
  >div{
    display: flex;  

    >li{
      list-style-type: none;
      padding: 7px;
    }
  }
}

@for $i from 0 through 10 {
    .content-0t10:nth-child(#{$i}):before {
        content: $i;
    }
}




/**********************
*
*
  CUSTOM CSS 66 ° Nord
*
*
**********************/
#logo-66-nord{
  position: absolute;
  z-index: 1;
  width: 20%;
  top: 11%;
  left: 41%;
} 

.box-title-parent{
  background-color: $color-box-title-parent;
  color: white;

  .box-title-child{
    text-align: center;
    padding: 1px 0 1px 0;
    h1{
      font-size: 2.7em;
    }
  }
}

.box-intro{
  padding: 15px 0 0 0;

  p{
    text-align: center;
  }

  p:nth-child(2) {
    color: $color-background-blue;
    font-weight: 700;
  }

}

#menu-step{
  opacity: 0.94;
  margin-top: 10px;
  text-align: center;
  color: white;

  li{
    vertical-align: top;
    background-color: $color-background-blue;
    padding: 15px 0 20px 0;
    height: 91px;  
    display: inline-block;
    margin-right: 22px;
    width: calc(33% - 14px);
    font-size: 20px;

    span{
      display: inline-block;
      width: 125px;

      &:before{    
        color: $color-number-step-menu !important;
        position: absolute;
        font-size: 70px;
        left: 12%;
        font-weight:800;    
        margin-top: -26px;
      }

    }

    &:after{  
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 0px;
      height: 0px;  
    }

    &:before{    
      content: "" !important;
    } 

    &:first-child{
      span:before {  
        content: "1";
        left: 15%;
      }
    }

    &:nth-child(2){
      span:before {  
        content: "2";
        left: 13%;
      }
    }

    &:nth-child(3){
      span:before {  
        content: "3";
        left: 15%;
      }
    }

    /*&:nth-child(4){
      span:before {  
        content: "1";
        left: 19%;
      }
    }*/

    &:first-child:after{    
      right: -18px;
      border-top: 94px solid $color-background-blue;
      border-right: 18px solid transparent;
    }

    &:nth-child(2):after{    
      right: -18px;
      border-top: 94px solid $color-background-blue;
      border-right: 18px solid transparent;
    }

    &:nth-child(2):before{    
      top: -2px;
      left: -17px;
      border-bottom: 93px solid $color-background-blue;
      border-left: 18px solid transparent;
      position: absolute;
    }

    &:last-child:before{  
      top: -2px;
      left: -17px;
      border-bottom: 93px solid $color-background-blue;
      border-left: 18px solid transparent;
      position: absolute;
    }

    &:last-child{
      margin-right: 0 !important;
    }

  }
}

.active-menu{
  background-color: $color-menu-active !important;

  &:after{    
    border-top-color: $color-menu-active !important;
  }
  &:before{    
    border-bottom-color: $color-menu-active !important;
  }

}


/****************************
*
*
     RESPONSIVE MEDIA QUERY 
*
*
*****************************/

@media (max-width: 575.98px) { 
  #menu-step{
    li{
      font-size: 15px;

      &:last-child{
        width: calc(33% - 12.8px) !important;
      }
      span:before {  
        font-size: 59px;
      }

      span{
        margin-left: 24%;
        width: 85px;
      }

      &:first-child{
        span:before {  
          left: 2% !important;
        }
      }

      &:nth-child(2){
        span:before {  
          left: 0% !important;
        }
      }

      &:nth-child(3){
        span:before {  
          left: 2% !important;
        }
      }
    }
  }
} 

@media (min-width: 576px) and (max-width: 767.98px) {
  #menu-step{
    li{
      span{
        margin-left: 25%;
      }

      &:last-child{
        width: calc(33% - 10.4px) !important;
      }

      &:first-child{
        span:before {  
          left: 11% !important;
        }
      }

      &:nth-child(2){
        span:before {  
          left: 0% !important;
        }
      }

      &:nth-child(3){
        span:before {  
          left: 9% !important;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 899.98px) { 
  #menu-step{
    li{
      &:last-child{
        width: calc(33% - 8.5px) !important;
      }

      &:first-child{
        span:before {  
          left: 12% !important;
        }
      }

      &:nth-child(2){
        span:before {  
          left: 5% !important;
        }
      }

      &:nth-child(3){
        span:before {  
          left: 12% !important;
        }
      }
    }
  }
}  

@media (min-width: 900px) and (max-width: 991.98px) { 
  #menu-step{
    li{
      &:last-child{
        width: calc(33% - 8.5px) !important;
      }

      &:first-child{
        span:before {  
          left: 17% !important;
        }
      }

      &:nth-child(2){
        span:before {  
          left: 8% !important;
        }
      }

      &:nth-child(3){
        span:before {  
          left: 17% !important;
        }
      }
    }
  }
}    

@media (min-width: 992px) and (max-width: 1199.98px) {
  #menu-step{
    li{
      &:last-child{
        width: calc(33% - 6.3px) !important;
      }

      &:first-child{
        span:before {  
          left: 20% !important;
        }
      }

      &:nth-child(2){
        span:before {  
          left: 17% !important;
        }
      }

      &:nth-child(3){
        span:before {  
          left: 20% !important;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #form-qds{
    padding-left: 10%;
  }

  #menu-step{
    li{
      &:last-child{
        width: calc(33% - 5px) !important;
      }

      &:first-child{
        span:before {  
          left: 25% !important;
        }
      }

      &:nth-child(2){
        span:before {  
          left: 20% !important;
        }
      }

      &:nth-child(3){
        span:before {  
          left: 25% !important;
        }
      }
    }
  }
}


@media (max-width: 1200px) {
  #form-qds{
    padding-left: 7%;
  }
}