

/****************************
*
*
     RESPONSIVE MEDIA QUERY 
*
*
*****************************/

@media (max-width: 575.98px) { 
  #menu-step{
    li{
      font-size: 15px;

      &:last-child{
        width: calc(33% - 12.8px) !important;
      }
      span:before {  
        font-size: 59px;
      }

      span{
        margin-left: 24%;
        width: 85px;
      }

      &:first-child{
        span:before {  
          left: 2% !important;
        }
      }

      &:nth-child(2){
        span:before {  
          left: 0% !important;
        }
      }

      &:nth-child(3){
        span:before {  
          left: 2% !important;
        }
      }
    }
  }
} 

@media (min-width: 576px) and (max-width: 767.98px) {
  #menu-step{
    li{
      span{
        margin-left: 25%;
      }

      &:last-child{
        width: calc(33% - 10.4px) !important;
      }

      &:first-child{
        span:before {  
          left: 11% !important;
        }
      }

      &:nth-child(2){
        span:before {  
          left: 0% !important;
        }
      }

      &:nth-child(3){
        span:before {  
          left: 9% !important;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 899.98px) { 
  #menu-step{
    li{
      &:last-child{
        width: calc(33% - 8.5px) !important;
      }

      &:first-child{
        span:before {  
          left: 12% !important;
        }
      }

      &:nth-child(2){
        span:before {  
          left: 5% !important;
        }
      }

      &:nth-child(3){
        span:before {  
          left: 12% !important;
        }
      }
    }
  }
}  

@media (min-width: 900px) and (max-width: 991.98px) { 
  #menu-step{
    li{
      &:last-child{
        width: calc(33% - 8.5px) !important;
      }

      &:first-child{
        span:before {  
          left: 17% !important;
        }
      }

      &:nth-child(2){
        span:before {  
          left: 8% !important;
        }
      }

      &:nth-child(3){
        span:before {  
          left: 17% !important;
        }
      }
    }
  }
}    

@media (min-width: 992px) and (max-width: 1199.98px) {
  #menu-step{
    li{
      &:last-child{
        width: calc(33% - 6.3px) !important;
      }

      &:first-child{
        span:before {  
          left: 20% !important;
        }
      }

      &:nth-child(2){
        span:before {  
          left: 17% !important;
        }
      }

      &:nth-child(3){
        span:before {  
          left: 20% !important;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #form-qds{
    padding-left: 10%;
  }

  #menu-step{
    li{
      &:last-child{
        width: calc(33% - 5px) !important;
      }

      &:first-child{
        span:before {  
          left: 25% !important;
        }
      }

      &:nth-child(2){
        span:before {  
          left: 20% !important;
        }
      }

      &:nth-child(3){
        span:before {  
          left: 25% !important;
        }
      }
    }
  }
}


@media (max-width: 1200px) {
  #form-qds{
    padding-left: 7%;
  }
}