/**********************
*
*
        VARIABLES
* 
*
**********************/

/* MARQUE : 66 NORD  */

$color-star-full: #FFED85;
$color-star-hover: #f6c82c;
$color-background-yellow : #f6c82c;
$color-background-blue : #0fa1b8;
$color-box-title-parent : #01a2b4;
$color-menu-active : #04707c;
$color-number-step-menu : #b8dde3;
$color-note-0to10-orange : #ff9219;
$color-note-0to10-vert : #009446;

  /* icons Surement changer les nom des icons sur la plateforme de dev*/
$path-to-icon : "/img/nord/icons/";
$icon-internet : "#{$path-to-icon}internet.png";
$icon-marque : "#{$path-to-icon}66nord.png";
$icon-conseiller : "#{$path-to-icon}conseiller.png";
$icon-documents : "#{$path-to-icon}documents.png";
$icon-transport : "#{$path-to-icon}transport.png";
$icon-accueil : "#{$path-to-icon}accueil.png";
$icon-guide : "#{$path-to-icon}guide.png";
$icon-hebergements : "#{$path-to-icon}hebergements.png";
$icon-repas : "#{$path-to-icon}repas.png";
$icon-logistique : "#{$path-to-icon}logistique.png";
$icon-programme : "#{$path-to-icon}programme.png";
$icon-tourisme : "#{$path-to-icon}tourisme_responsable.png";


/**********************
*
*
  CUSTOM CSS 66 ° Nord
*
*
**********************/
#logo-66-nord{
  position: absolute;
  z-index: 1;
  width: 20%;
  top: 11%;
  left: 41%;
} 

.box-title-parent{
  background-color: $color-box-title-parent;
  color: white;

  .box-title-child{
    text-align: center;
    padding: 1px 0 1px 0;
    h1{
      font-size: 2.7em;
    }
  }
}

.box-intro{
  padding: 15px 0 0 0;

  p{
    text-align: center;
  }

  p:nth-child(2) {
    color: $color-background-blue;
    font-weight: 700;
  }

}


.active-menu{
  background-color: $color-menu-active !important;

  &:after{    
    border-top-color: $color-menu-active !important;
  }
  &:before{    
    border-bottom-color: $color-menu-active !important;
  }

}

.first-sf{
  background-color: $color-background-blue !important;
}

#messageSF > span:not(.first-sf){
  background-color: $color-background-yellow;
}

#btn-suivant, #btn-valider{
  background-color: $color-background-blue; 
  border-color: $color-background-blue;
}


#menu-step{

  li{
    background-color: $color-background-blue;

    span{
      &:before{    
        color: $color-number-step-menu !important;
      }
    }

    &:first-child:after{    
      right: -18px;
      border-top: 94px solid $color-background-blue;
      border-right: 18px solid transparent;
    }

    &:nth-child(2):after{    
      right: -18px;
      border-top: 94px solid $color-background-blue;
      border-right: 18px solid transparent;
    }

    &:nth-child(2):before{    
      top: -2px;
      left: -17px;
      border-bottom: 93px solid $color-background-blue;
      border-left: 18px solid transparent;
      position: absolute;
    }

    &:last-child:before{  
      top: -2px;
      left: -17px;
      border-bottom: 93px solid $color-background-blue;
      border-left: 18px solid transparent;
      position: absolute;
    }
  }
}

.icon-title-h3{
  width: 33px;
  height: 33px;
  background-size: 100%;
  border: none;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  margin-top: 13px;
  margin-right: 10px;
}

#messageSF >span:before { 
  border-right-color: $color-background-yellow;
}

#messageSF >span:first-child:before { 
  border-right-color: $color-background-blue;
}

#icon-internet{
  background-image: url($icon-internet);
}

#icon-marque{
  background-image: url($icon-marque);
  width: 44px !important;
}

#icon-conseiller{
  background-image: url($icon-conseiller);
}

#icon-documents{
  background-image: url($icon-documents);
}

#icon-transport{
  background-image: url($icon-transport);
}

#icon-accueil{
  background-image: url($icon-accueil);
}

#icon-guide{
  background-image: url($icon-guide);
}

#icon-hebergements{
  background-image: url($icon-hebergements);
}

#icon-repas{
  background-image: url($icon-repas);
}

#icon-logistique{
  background-image: url($icon-logistique);
}

#icon-programme{
  background-image: url($icon-programme);
}

#icon-tourisme{
  background-image: url($icon-tourisme);
}