/**********************
*
*
        VARIABLES
* 
*
**********************/

/* MARQUE : 66 NORD  */

$color-star-full: #FFED85;
$color-star-hover: #f6c82c;
$color-background-yellow : #f6c82c;
$color-background-blue : #0fa1b8;
$color-box-title-parent : #01a2b4;
$color-menu-active : #04707c;
$color-number-step-menu : #b8dde3;
$color-note-0to10-orange : #ff9219;
$color-note-0to10-vert : #009446;

/**********************
*
*
  CUSTOM CSS 66 ° Nord
*
*
**********************/
#logo-66-nord{
  position: absolute;
  z-index: 1;
  width: 20%;
  top: 11%;
  left: 41%;
} 

.box-title-parent{
  background-color: $color-box-title-parent;
  color: white;

  .box-title-child{
    text-align: center;
    padding: 1px 0 1px 0;
    h1{
      font-size: 2.7em;
    }
  }
}

.box-intro{
  padding: 15px 0 0 0;

  p{
    text-align: center;
  }

  p:nth-child(2) {
    color: $color-background-blue;
    font-weight: 700;
  }

}


.active-menu{
  background-color: $color-menu-active !important;

  &:after{    
    border-top-color: $color-menu-active !important;
  }
  &:before{    
    border-bottom-color: $color-menu-active !important;
  }

}

.first-sf{
  background-color: $color-background-blue !important;
}

#messageSF > span:not(.first-sf){
  background-color: $color-background-yellow;
}

#btn-suivant, #btn-valider{
  background-color: $color-background-blue; 
  border-color: $color-background-blue;
}


#menu-step{

  li{
    background-color: $color-background-blue;

    span{
      &:before{    
        color: $color-number-step-menu !important;
      }
    }

    &:first-child:after{    
      right: -18px;
      border-top: 94px solid $color-background-blue;
      border-right: 18px solid transparent;
    }

    &:nth-child(2):after{    
      right: -18px;
      border-top: 94px solid $color-background-blue;
      border-right: 18px solid transparent;
    }

    &:nth-child(2):before{    
      top: -2px;
      left: -17px;
      border-bottom: 93px solid $color-background-blue;
      border-left: 18px solid transparent;
      position: absolute;
    }

    &:last-child:before{  
      top: -2px;
      left: -17px;
      border-bottom: 93px solid $color-background-blue;
      border-left: 18px solid transparent;
      position: absolute;
    }
  }
}