
{% block header %}
    <div class="menu-vertical">
    	<img src="{{ asset('img/nord/logo.png') }}"/>
    	<hr class="hr-menu"/>
    	<ul id="menu">
    		<li class="nav">
    			<div>QDS</div>
    			<ul class="subnav">
    				<li>Création</li>
    				<li>Consultation</li>
    				<li>Validation</li>
    			</ul>
    		</li>
    	</ul>
    </div>
    <div class="banniere">
    </div>
{% endblock %}